<div class="container">
  <fieldset>
    <h1 class="mb-3">Restaurants</h1>
    <form action="/restaurants" method="get">
      <div class="form-group d-flex mb-3">
        <input type="search" name="query" class="form-control" placeholder="Search a restaurant">
        <button type="submit" class="btn btn-success">Search</button>
      </div>
    </form>
    <%= link_to 'Create new restaurant', new_restaurant_path, class: "btn btn-primary text-decoration-none mb-3" %>
  </fieldset>
</div>
<div class="container">
  <div class="cards">
  <% @restaurants.reverse.each do |restaurant| %>
      <div class="card">
        <img src="" alt="restaurant-image">
        <%= link_to restaurant.name, restaurant_path(restaurant.id), class: "alert alert-info text-decoration-none mt-2" %>
        <%= restaurant.address %>
      </div>
  <% end %>
  </div>
</div>
