.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 16px 16px;
  margin: 16px 16px;
}
.card img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}
.card-trip-footer {
  position: relative;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 8px 8px;
}
.card-trip .card-trip-avatar {
  border: 1px white solid;
  position: absolute;
  right: 16px;
  top: -30px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.card-trip-pricing {
  margin-right: 16px;
  margin-bottom: 12px;
}
